.aboutus {
  padding: 4rem;
  background-color: black;
}

#aboutus {
  letter-spacing: 0.3cm;
  color: #fff;
  text-align: center;
}


.box {
  
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

#text {
  
  /* font-family: 'Josefin Sans', sans-serif; */
  text-align: justify;
   line-height: 0.8cm; 
  font-size: 20px;
  color: lightgrey;
  position: relative;
  margin: 45px 0 45px;
}

p{
  font-size: 15;
  color: black;
  font-weight: 600;
}

ul {

  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#a {
  color: black;
  font-weight: 200;
  font-size: xx-large;
  color: #4fb3c5;

}
.counter {
  margin-top: 50px;
  background: white;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 25px;
  color: #fff;
  margin-bottom: 50px;
}